name: Environment-Variables
on: [push, pull_request]
# run-name: "env var action by : ${{ github.action }} - event by ${{ github.event_name }}"
env:
    WF_ENV_VAR: "this env var is available to all jobs of this workflow"
jobs: 
    using-env-vars:
        runs-on: ubuntu-latest
        env:
            JOB-LEVEL-ENV: "this env only available for this specific job"
        steps:
            - name: env-evaluated-on-runner
              run: |
                echo $GITHUB_REF
                echo $GITHUB.REPOSITORY
            - name: env-already-evaluated-context
              run: |
                echo "${{ GITHUB.REF_NAME }}"
                echo "${{ GITHUB.REPOSITORY }}"
              env:
                STEP-LEVEL-ENV: "this env only available for this specific step"
                WF_ENV_VAR: "this workflow env var is overridden at step level"
            - name: display-all-env
              run: |
                echo ${{ env.WF_ENV_VAR }}
                echo ${{ env['JOB-LEVEL-ENV'] }}
                echo ${{ env['STEP-LEVEL-ENV'] }}
                echo $GITHUB_ENV