name: Environment-Variables
on: [push, pull_request]
# run-name: "env var action by : ${{ github.action }} - event by ${{ github.event_name }}"
env:
    WF_ENV_VAR: "this env var is available to all jobs of this workflow"
jobs: 
    using-env-vars:
        runs-on: ubuntu-latest
        env:
            JOB-LEVEL-ENV: "this env only available for this specific job"
        steps:
            - name: env-evaluated-on-runner
              run: |
                echo $GITHUB_REF
                echo $GITHUB.REPOSITORY
            - name: env-already-evaluated-context
              run: |
                echo "${{ GITHUB.REF_NAME }}"
                echo "${{ GITHUB.REPOSITORY }}"
              env:
                STEP-LEVEL-ENV: "this env only available for this specific step"
                WF_ENV_VAR: "this workflow env var is overridden at step level"
            

            - name: set-env
              run: |
                echo "NEW_ENV_VAR=$(date)" >> $GITHUB_ENV
                echo "JOB_LEVEL_ENV=$RANDOM" >> $GITHUB_ENV

            - name: display-all-env
              run: |
                echo "workflow env var:" ${{ env.WF_ENV_VAR }}
                echo "job env var:" ${{ env['JOB-LEVEL-ENV'] }}
                echo "step env var:" ${{ env['STEP-LEVEL-ENV'] }}
                echo "github env:" $GITHUB_ENV
                echo "newly set env var:" ${{ env.NEW_ENV_VAR }}
                echo "newly set job env var:" ${{ env.JOB_LEVEL_ENV }}