name: Environment-Variables
on: [push]
run-name: "env var action by : ${{ github.action }} - event by ${{ github.event_name }}"

jobs: 
    using-env-vars:
        runs-on: ubuntu-latest
        steps:
            - name: env-evaluated-on-runner
              run: |
                echo $GITHUB_REF
                echo $GITHUB.REPOSITORY
            - name: env-already-evaluated-context
              run: |
                echo "${{ GITHUB.REF_NAME }}"
                echo "${{ GITHUB.REPOSITORY }}"